@charset "UTF-8";
.header {
  background-color: var(--background-color-white);
  border-bottom: 1px solid #ECECEC;
}

.nav__logo {
  font-weight: 700;
  font-size: 26px;
  font-family: Raleway;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-accent);
}
.nav__logo--header {
  color: var(--color-accent-four);
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}
.menu__list .menu__item:not(:last-child) {
  margin-right: 50px;
}
.menu__item {
  position: relative;
}
.menu__item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--background-color-blue);
  opacity: 0;
}
.menu__item.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--background-color-blue);
  opacity: 1;
}
.menu__link:hover {
  color: var(--color-accent-four);
}
.menu__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--color-accent);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: 250ms;
  transition: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-contacts .menu__item + .menu__item {
  margin-left: 50px;
}
.nav-contacts .menu__item + .menu__item {
  margin-left: 50px;
}
.nav-contacts__link {
  font-weight: 500;
  color: var(--color-accent-three);
  fill: var(--color-accent-three);
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 250ms;
  transition: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-contacts__list:not(:first-child) {
  margin-left: 30px;
}
.nav-contacts__link:hover, .nav-contacts__link:focus {
  color: var(--color-accent-four);
}
.nav-contacts__link:hover, .nav-contacts__link:focus {
  fill: var(--color-accent-four);
}
.nav-contacts__icon {
  margin-right: 10px;
}

.footer {
  background-color: var(--background-color-accent);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.footer__item {
  margin-bottom: 9px;
}
.footer__item:last-child {
  margin-bottom: 0;
}
.footer__text {
  color: var(--color-accent-two);
  margin-top: 20px;
  margin-bottom: 0;
  line-height: 1.71;
  letter-spacing: 0.03em;
  -webkit-transition: 250ms;
  transition: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__text:hover {
  color: var(--color-accent-four);
}
.footer__logo {
  font-weight: 700;
  font-size: 26px;
  font-family: Raleway;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-accent);
}
.footer__logo {
  color: var(--color-accent-two);
}
.footer__logo--text {
  color: var(--color-accent-four);
}
.footer__link {
  color: var(--color-accent-three);
  line-height: 1.71;
  letter-spacing: 0.03em;
  -webkit-transition: 250ms;
  transition: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link:hover {
  color: var(--color-accent-four);
}

footer-social {
  width: 206px;
  margin: 0;
  margin-left: 70px;
  padding: 0;
}
footer-social__title {
  color: var(--color-accent-two);
  margin-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.14;
  margin-right: 0;
}
footer-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer-social__link {
  fill: var(--color-accent-two);
  background: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  margin-right: 10px;
}
footer-social__link:hover {
  color: var(--color-accent-four);
  background-color: var(--background-color-blue);
  -webkit-transition: 250ms;
  transition: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.sign-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.sign-up__label {
  margin-right: 12px;
}
.sign-up__title {
  color: var(--color-accent-two);
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 0;
  margin-bottom: 20px;
}
.sign-up__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2F303A;
  color: var(--color-accent-two);
  font-size: 16px;
  line-height: 1.25px;
  padding: 15px 0 15px 16px;
  letter-spacing: 0.03em;
}
.sign-up__button {
  position: relative;
  background-color: var(--background-color-blue);
  color: var(--color-accent-two);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  padding: 10px 62px 10px 28px;
  min-width: 200px;
  height: 50px;
}
.sign-up__icon {
  position: absolute;
  fill: var(--color-accent-two);
  left: 148px;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--color-accent);
}

a, p, h1, h2, h3, ul, li {
  text-decoration: none;
  list-style-type: none;
  font-style: normal;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

:root {
  --background-color-accent: #2F303A;
  --background-color-grey: #e5e5e5;
  --background-color-white: #ffffff;
  --background-color-light-greу: #F5F4FA;
  --background-color-blue: #2196F3;
  --background-color-social: #afb1b8;
  --color-accent: #212121;
  --color-accent-two: #ffffff;
  --color-accent-three: #757575;
  --color-accent-four: #2196F3;
  --color-accent-five: #afb1b8;
}/*# sourceMappingURL=main.css.map */